* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #3B8BBA;
}

a:hover,
a:visited {
    color: #265778;
}

#container {
    padding-left: 150px;
    position: relative;
    left: 0;
    width: 100%;
}

#left {
    color: white;
    position: fixed;
    height: 100%;
    background-color: #191818;
    width: 150px;
    left: 0;
}

#left ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

#left ul li {
    line-height: 2.9em;
    height: 2.9em;
}

#left li a {
    display: block;
    color: #ffffff;
    padding: 0 1em;
    border-bottom: 1px solid #333;
}

#left li:hover {
    background-color: #454545;
}

#content {
    padding: 1em 8em;
}

#header,
.block-gray {
    text-align: center;
}

.block-gray {
    padding: 1.5em 20%;
    background: #EFEFEF;
    border: 1px solid #E8E8E8;
}

.body {
    overflow: auto;
    margin: 1.5em auto;
}

.body .col {
    float: left;
    width: 31.3333%;
    margin-right: 2.99%;
}

.body .col:last-child {
    float: right;
    margin-right: 0;
}

.body .col img {
    float: left;
    margin-right: 1em;
}

#footer {
    font-size: 85%;
    border-top: 1px solid #E6E6E6;
    color: #838383;
    padding: 1em 3em;
}
